<h1>Tweeter...<small>Chirp Chirp</small></h1>
<div class="container" class="welcome-intro">
  <div class="row vertical-center-row">
    <div class="col-lg-12">
      <div class="row ">
				<p>
					Welcome to Tweeter! Tweeter is a very limited recreation of the beloved Twitter.
					Tweeter is a place to share with friends, family and total strangers the insignificant,
					and rather mundaine happenings of your life in 140 characters!<br>
					Tweeter allows users to create profiles and share posts. 
				</p><br>
				<p>
					What is truely remarkable about Tweeter is how it was created. Tweeter is a Ruby on Rails application that utilizes (ADD WHAT IT IS BUILT WITH HERE)!!!
				</p>
			</div>
		</div>
	</div>
</div>	

<div class="container">
	<h2>Do you have an account?</h2>
	<div class="row vertical-center-row">
    <div class="col-lg-12">
      <div class="row ">
				<div class="btn-group btn-group-lg" role="group">
					<button role="button" class="btn btn-default"><%= link_to 'YES', welcome_signin_path %></button>
					<button role="button" class="btn btn-default"><%= link_to 'NO', welcome_signup_path %></button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
<% if user_signed_in? %>
<% if current_user.tweets.empty? %>
	<p>No tweets yet!</p>
	<p>Start tweeting:</p>
	<div class="tweet-box container">
		<% render 'tweets/form' %>
	</div>
	<% else %>
	<div class="tweet-box container">
		<% render 'tweets/form' %>
	</div>
	<% current_user.tweets.each do |tweet| %>
		<p><%= tweet.message %></p>
	<% end %>
<% end %>

<% else %>


<% end %>

 -->